scrollbar {
  background-color: #2E3436;
  background-image: none;
}

label {
  color: gray;
}

.image-button {
  color: gray;
  background-color: #2E3436;
  background-image: none;
  border: none;
}

headerbar:backdrop  {
  background-color: #2E3436;
}

headerbar {
  background-color: #2E3436;
  background-image: none;
}
